{% extends "layouts/layout.html" %}

{% block contentCuerpo %}

<!--Incluir las ventanas modales para Crud
    para el correcto funcionamiento de las ventanas modales se debe importar app.js con las funciones correspondientes. En este caso esta referenciado en loyuot.thml
-->
{% include "modalProfesional_Add.html" %}
{% include "modalProfesional_Update.html" %}
{% include "modalProfesional_Delete.html" %}

<!--Armar la tabla de inspectors para el Crud-->
{% import "tablas.html" as tablas %}

<!--Nombre de las Columnas a mostar-->
{% set encabezado = [
      {'nombre': 'NOMBRE'},
      {'nombre': 'DESCRIPCION'}
    ] %}

<!--Valores de las filas a mostar-->
 {% set valores = [
      ] %}
 
 {% for profesional in profesionales %}
    {% set _ = valores.append({
            'id': profesional.idProfesional,
            'nombre': profesional.nombre,
            'descripcion': profesional.descripcion
        }) %}
 {% endfor %}    

 <!--PARAMETROS:   mostrar_tabla(titulo, nomtabla, columnas, valores, request) -->
{{ tablas.mostrar_tabla("Profesionales Actuales", "Profesional", "Profesional", encabezado, valores, request) }}

{% endblock %}
