{% extends "layouts/layout.html" %}

{% block contentCuerpo %}

<!--Incluir las ventanas modales para Crud
    para el correcto funcionamiento de las ventanas modales se debe importar app.js con las funciones correspondientes. En este caso esta referenciado en loyuot.thml
-->

{% include "modalExpediente_Add.html" %}
{% include "modalExpediente_Update.html" %}
{% include "modalExpediente_Delete.html" %}

<!--Armar la tabla de inspectors para el Crud-->
{% import "tablaExpediente.html" as tablas %}

<!--Nombre de las Columnas a mostar-->
{% set encabezado = [
      {'nombre': 'NRO EXP.'},
      {'nombre': 'TIPO'},
      {'nombre': 'ESTADO'},
      {'nombre': 'FECHA ULT. MOD.'}
    ] %}

<!--Valores de las filas a mostar-->
{% set valores = [
      ] %}
 
{% for item in expedientes %}
    {% set expediente = item.expediente %}
    {% set estado_id = item.ultimo_estado_id %}
    {% set estado_nombre = item.ultimo_estado_nombre %}
    
    {% set _ = valores.append({
        'id': expediente.idExpediente,
        'nroExpediente': expediente.nroEntrada ~ '/' ~ expediente.anioMesaEntrada,
        'tipoObra': expediente.tipoObra.nombre if expediente.tipoObra else 'Sin Tipo',
        'estado': estado_nombre,
        'fechaUltimaMod': expediente.fechaUltimaMod.strftime('%d/%m/%Y') if expediente.fechaUltimaMod else '',
        'idTipoObra': expediente.idTipoObra,
        'nroPartida': expediente.nroPartida,
        'nroExpedienteMesaEntrada': expediente.nroExpedienteMesaEntrada,
        'anioMesaEntrada': expediente.anioMesaEntrada,
        'sucesion': expediente.sucesion,
        'observaciones': expediente.observaciones,
        'idEstadoExpediente': estado_id
    }) %}
{% endfor %}

 <!--PARAMETROS:   mostrar_tabla(titulo, nomBtAdd, nomtabla, columnas, encabezado,  valores, request) -->
{{ tablas.mostrar_tabla("Expedientes Actuales", "Expediente", "Expediente", encabezado, valores, request) }}

{% endblock %}
