{% extends "layouts/layout.html" %}

{% block contentCuerpo %}

<!--Incluir las ventanas modales para Crud
    para el correcto funcionamiento de las ventanas modales se debe importar app.js con las funciones correspondientes. En este caso esta referenciado en loyuot.thml
-->
{% include "modalTipoExpediente_Add.html" %}
{% include "modalTipoExpediente_Update.html" %}
{% include "modalTipoExpediente_Delete.html" %}

<!--Armar la tabla de inspectors para el Crud-->
{% import "tablas.html" as tablas %}

<!--Nombre de las Columnas a mostar-->
{% set encabezado = [
      {'nombre': 'NOMBRE'},
      {'nombre': 'DESCRIPCION'}
    ] %}

<!--Valores de las filas a mostar-->
 {% set valores = [
      ] %}
 
 {% for tipoExpediente in tiposExpedientes %}
    {% set _ = valores.append({
            'id': tipoExpediente.idTipoExpediente,
            'nombre': tipoExpediente.nombre,
            'descripcion': tipoExpediente.descripcion
        }) %}
 {% endfor %}    

 <!--PARAMETROS:   mostrar_tabla(titulo, nomtabla, columnas, valores, request) -->
{{ tablas.mostrar_tabla("Tipos de Expedientes Actuales", "Tipo Expediente", "TipoExpediente",encabezado, valores, request) }}

{% endblock %}
