{% extends "layouts/layout.html" %}

{% block contentCuerpo %}

<!--Incluir las ventanas modales para Crud
    para el correcto funcionamiento de las ventanas modales se debe importar app.js con las funciones correspondientes. En este caso esta referenciado en loyuot.thml
-->
{% include "modalTipoObra_Add.html" %}
{% include "modalTipoObra_Update.html" %}
{% include "modalTipoObra_Delete.html" %}

<!--Armar la tabla de inspectors para el Crud-->
{% import "tablas.html" as tablas %}

<!--Nombre de las Columnas a mostar-->
{% set encabezado = [
      {'nombre': 'NOMBRE'},
      {'nombre': 'DESCRIPCION'}
    ] %}

<!--Valores de las filas a mostar-->
 {% set valores = [
      ] %}
 
 {% for tipoObra in tiposObras %}
    {% set _ = valores.append({
            'id': tipoObra.idTipoObra,
            'nombre': tipoObra.nombre,
            'descripcion': tipoObra.descripcion
        }) %}
 {% endfor %}    

 <!--PARAMETROS:   mostrar_tabla(titulo, nomtabla, columnas, valores, request) -->
{{ tablas.mostrar_tabla("Tipos de Obras Actuales", "Tipo Obra", "TipoObra",encabezado, valores, request) }}

{% endblock %}
