{% block modal %}
{% set sufijo = "Edit" %}
<script src="/static/js/expediente.js"></script>
<div class="modal fade" id="update_Expediente" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-xl ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Actualizar Expediente</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <form id="formExpedienteUpdate" method="post" > 
                <input type="hidden" id="IDEXPEDIENTEEditHIDDEN" name="IDEXPEDIENTEEditHIDDEN"/>
                <input type="hidden" id="IDESTADOEXPEDIENTEEditHIDDEN" name="IDESTADOEXPEDIENTEEditHIDDEN"/>
                <div class="modal-body">
                    <div class="container contenido">
                        <!-- Content Wrapper -->
                        <div id="content-wrapper" class="d-flex flex-column">
                            <!-- Main Content -->
                            <div id="content">
                                <div id="accordion">
                                    <!-- ========== BLOQUE EXPEDIENTE ========== -->
                                    {% include 'expediente/bloque_expediente.html' %}
                                
                                    <!-- ========== BLOQUE PROPIETARIOS ========== -->
                                    {% include 'expediente/bloque_propietario.html' %}

                                    <!-- ========== BLOQUE PROFESIONALES ========== -->
                                    {% include 'expediente/bloque_profesional.html' %}
                                </div>    
                            </div>    
                    
                            <div class="modal-footer">
                                <button type="button" class="cancela btn btn-default" data-dismiss="modal">Cerrar</button>
                                <button type="submit" class="acepta btn btn-success" id="modificar_Expediente" >Actualizar</button>
                            </div>
                        <!-- /.container-fluid -->
                        </div>
                    <!-- End of Main Content -->	
                    </div>
                <!-- end of body block -->
                </div>
            </form>   
        </div>
    </div>
</div>

<script>

    document.getElementById("nroPartidaEdit").addEventListener("keydown", function (e) {
        validarCaracterEnNro(e);
    });

    document.getElementById("nroPartidaEdit").addEventListener("input", function (e) {
        validarLongitudNro(e, 7)
    });
   
    function insertarPropietarioEdit(){
            let idFila = Number(document.getElementById("idFilaEdit").value);
            idFila=idFila + 1;   
        
            //Leo Datos Personales
            let nombre = document.getElementById("nombreEdit").value;
            let apellido = document.getElementById("apellidoEdit").value;
            let cuil_cuit = document.getElementById("cuil_cuitEdit").value;
            let figuraPpal = document.getElementById("figuraPpalEdit").value;
            
            //Leo datos Contacto
            let calle = document.getElementById("calleEdit").value;
            let nroCalle = document.getElementById("nroCalleEdit").value;
            let piso = document.getElementById("pisoEdit").value;
            let dpto = document.getElementById("nroDptoEdit").value;
            let areaCelular = document.getElementById("areaCelularEdit").value;
            let nroCelular = document.getElementById("nroCelularEdit").value;
            let email = document.getElementById("emailEdit").value;
                    
            if(nombre == ''){alert("El Nombre del Propietario es de ingreso obligatorio."); exit;}
            if(apellido == ''){alert("El Apellido del Propietario es de inghreso obligatorio."); exit;}
            if(cuil_cuit == ''){alert("La CUIL/CUIT del Propietario es de ingreso obligatorio."); exit;}
            if(areaCelular == ''){alert("El Area del Celular es de ingreso obligatorio."); exit;}
            if(nroCelular == ''){alert("El Nro. del Celular es de ingreso obligatorio."); exit;}
            if(email == ''){alert("El Email es de ingreso obligatorio."); exit;}
            
            //De la forma valor= cuil + "/" + apellido + "/" + nombre + "/" + figuraPPal ......;
            valor= cuil_cuit + "/" + apellido + "/" + nombre + "/" + figuraPpal + "/" + calle + "/" + nroCalle + "/" +piso+ "/" +dpto+ "/" +areaCelular+ "/" +nroCelular+ "/" +email;
            
            style = "dr";

            if ((idFila%2) != 0){ style = "sr";}
            if(figuraPpal==0){ ppal= "NO";}else{ ppal= "SI";}
            
            let fila = "<td class='" + style + "' width='2'><input type='hidden' name='propEdit" + idFila + "' id='propEdit" + idFila + "' value='" + valor + "'></td><td class='" + style + "'  width='10'><button type='button' class='btn' onClick='deletePropietarioEdit(" + idFila + ")' title='Borrar Propietario'><i class='icon-trash'></i></button></td><td class='" + style + "'  width='50' align='left'>" + apellido + "</td><td class='" + style + "'  width='50' align='left'>" + nombre + "</td><td class='" + style + "'  width='50' align='left'>" + cuil_cuit + "</td><td class='" + style + "'  width='50' align='left'>" + ppal + "</td>" ;
                                                    
            let btn = document.createElement("TR");
            btn.id=idFila;
            btn.innerHTML=fila;
            document.getElementById("tablaPropietariosEdit").appendChild(btn);

            document.getElementById("idFilaEdit").value = `${++idFila}`;       
    }

    function deletePropietarioEdit(idFila){
        document.getElementById(idFila).remove();
    }

    function insertarProfesionalesEdit(){
        idFila=document.getElementById("idFilaProfEdit").value;

        //Leo Profesional de la forma idprofesiona*Apellido,nombre/ Matticula
        let profesional = document.getElementById("idProfesionalEdit").value;
        //Leo ID
        let pos = profesional.indexOf("*");
        let idProfesional = profesional.substr(0, pos);
        profesional = profesional.substr( pos + 1 );

        let contactoPpal = document.getElementById("contactoPpalEdit").value;
                  
        if(profesional == ''){alert("El Profesional es de ingreso obligatorio."); exit;}

        valor= idProfesional + "/" + contactoPpal;
         
        style = "dr";

        if ((idFila%2) != 0){ style = "sr";}
        if(contactoPpal==0){ ppal= "NO";}else{ ppal= "SI";}
        
        let fila = "<td class='" + style + "' width='2'><input type='hidden' name='profEdit" + idFila + "' id='profEdit" + idFila + "' value='" + valor + "'></td><td class='" + style + "'  width='10'><button type='button' class='btn' onClick='deleteProfesionalEdit(" + idFila + ")' title='Borrar Profesional'><i class='icon-trash'></i></button></td><td class='" + style + "'  width='50' align='left'>" + profesional + "</td><td class='" + style + "'  width='50' align='left'>" + ppal + "</td>" ;
                                                
        let btn = document.createElement("TR");
        btn.id=idFila;
        btn.innerHTML=fila;
        document.getElementById("tablaProfesionalesEdit").appendChild(btn);

        //document.getElementById("contFila").value = `${idFila}`; 
        document.getElementById("idFilaProfEdit").value = `${++idFila}`;       
    }

    function deleteProfesionalEdit(idFila){
        document.getElementById(idFila).remove();
    }

    document.getElementById('formExpedienteUpdate').addEventListener('submit', async function(e) {
        e.preventDefault(); // Evita que el formulario haga un POST tradicional

        const form = e.target;
        const formData = new FormData(form);

        const id = document.getElementById('IDEXPEDIENTEEditHIDDEN').value;
        const formJSON = Object.fromEntries(formData.entries());

        // Mapear los nombres
        const payload = {
                nroEntrada: formJSON.nroExpedienteMesaEntradaEdit,
                anioMesaEntrada: formJSON.anioMesaEntradaEdit,
                nroExpedienteMesaEntrada: formJSON.nroExpedienteMesaEntradaEdit,
                nroPartida: formJSON.nroPartidaEdit,
                sucesion: formJSON.sucesionEdit,
                observaciones: formJSON.observacionesEdit,
                idTipoObra: formJSON.idTipoObraEdit,
                IDESTADOEXPEDIENTEEditHIDDEN: formJSON.IDESTADOEXPEDIENTEEditHIDDEN,
                idEstadoexpedienteEdit: formJSON.idEstadoExpedienteEdit,
                // Tablas dinamicas: Propietarios y Profesionales
                idFilaEdit: formJSON.idFilaEdit,
                idFilaProfEdit: formJSON.idFilaProfEdit,
                propietarios: [],
                profesionales: []
        };
        try {
            // Recorrer todos los campos que empiezan con "propEdit" y agregarlos al array
            for (let key in formJSON) {
                if (key.startsWith('propEdit')) {
                    payload.propietarios.push(formJSON[key]);
                }
            }
           // Recorrer todos los campos que empiezan con "profEdit" y agregarlos al array
            for (let key in formJSON) {
                if (key.startsWith('profEdit')) {
                    payload.profesionales.push(formJSON[key]);
                }
            }

            //Mostrar payload completo con alert antes de enviar
           alert("Payload a enviar:\n" + JSON.stringify(payload, null, 2));
                
            const response = await fetch(`/expediente/${id}`, {
                        method: "PUT",
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify(payload)
            }); 
                 
            if (response.ok) {
                    $('#update_Expediente').modal('hide');
                    location.reload(); // recarga tabla con datos actualizados
            } else {
                    const error = await response.json();
                    alert('Error al actualizar el Expediente: ' + (error.error || 'Error desconocido'));
            }
        } catch (err) {
            alert('Error de red o del servidor: ' + err.message);
        }
    });
    
</script>
{% endblock modal %}