{% block modal %}

<div class="modal fade" id="add_Expediente" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-xl ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Agregar Expediente</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="container contenido">
                <!-- Content Wrapper -->
                <div id="content-wrapper" class="d-flex flex-column">
                    <!-- Main Content -->
                    <div id="content">
                        <form action="/agregar_expediente" method="post">
        	                <div id="accordion">
<!--Bloque Expediente-->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseOne">
                                            <div class="row" >
                                                <div class="col-md-12 mb-1">
                                                    <h5>Datos Expediente (Clickee aquí para ingresar los datos) </h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
			                        <div class="card-body">
			  	                        <fieldset class="form-group">
                                            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                                <div class="row">
                                                    <div class="form-group col-md-6 mb-1">
                                                        <label for="nombre"><strong>TIPO DE OBRA *</strong> </label>
                                                        <select name="idTipoObra" id="idTipoObra" class="form-control" required>
                                                            <option value="" selected>Seleccione Tipo de Obra</option>
                                                            {% for tipo in tiposObras %}
                                                                <option value="{{ tipo.idTipoObra }}">{{ tipo.nombre }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-6 mb-2">
                                                        <label for="nombre"><strong>PARTIDA *</strong> </label>
                                                        <input type="number" class="form-control" align="left" title="Partida" name="nroPartida" id="nroPartida" placeholder="Partida *"  maxlength="100" required/>
                                                    </div>
                                                </div>    
                                                <div class="row">
                                                    <div class="form-group col-md-3 mb-2">
                                                        <label for="nombre"><strong>NRO. EXPEDIENTE MESA DE ENTRADA *</strong> </label>
                                                        <input type="text" class="form-control" align="left" title="Nro. Expediente Mesa Entrada" name="nroExpedienteMesaEntrada" id="nroExpedienteMesaEntrada" placeholder="Nro. Expediente Mesa Entrada*" oninput="this.value=this.value.toUpperCase()" maxlength="100" required/>
                                                    </div>
                                                    <div class="form-group col-md-3 mb-1">
                                                        <label for="descripcion"><strong>AÑO INGRESO M.ENTRADA * </strong> </label>
                                                        <input type="number" name="anioMesaEntrada" class="form-control" id="anioMesaEntrada" title="Año Ingreso Mesa de Entrada" placeholder="Ej: 2025" required min="2000" max="2025" size="4"/>
                                                    </div>
                                                    <div class="form-group col-md-3 mb-1">
                                                        <label for="descripcion"><strong>SUCESION * </strong> </label>
                                                        <select name="sucesion" id="sucesion" class="form-control" required>
                                                            <option value="1" >SI</option>
                                                            <option value="0" selected>NO</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <label for="">OBSERVACIONES</label><br>
                                                        <textarea  name="observaciones" cols="100" rows="2" class="form-control" id="observaciones" title="Observaciones generales" maxlength="250" oninput="this.value=this.value.toUpperCase()" placeholder="Observaciones" ></textarea>
                                                    </div>   
                                                </div>
                                            </div>                
           		                    </fieldset>
			                    </div>
                            </div>

                            
                            <div class="modal-footer">
                                <button type="button" class="cancela btn btn-default" data-dismiss="modal">Cerrar</button>
                                <button type="submit" class="acepta btn btn-success">Agregar</button>
                            </div>
                            </div>
                        </form>
                    <!-- /.container-fluid -->
                    </div>
                <!-- End of Main Content -->	
                </div>
            <!-- End of Page Wrapper -->
            </div>
        <!-- end of body block -->
        </div>
    </div>
</div>
{% endblock modal %}

<script>
    // Establecer el año actual como valor por defecto y límite máximo
    const inputAnio = document.getElementById("anioIngresoMesaEntrada");
    const anioActual = new Date().getFullYear();
    inputAnio.max = anioActual;
    inputAnio.value = anioActual;
    document.getElementById("anioIngresoMesaEntrada").value = anioActual;


    function insertarPropietario(){
         idFila=document.getElementById("idFila").value;

         //Leo Datos Personales
         let nombre = document.getElementById("nombre").value;
         let apellido = document.getElementById("apellido").value;
         let cuil_cuit = document.getElementById("cuil_cuit").value;
         let figuraPpal = document.getElementById("figuraPpal").value;
         
         //Leo datos Contacto
         let calle = document.getElementById("calle").value;
         let nroCalle = document.getElementById("nroCalle").value;
         let piso = document.getElementById("piso").value;
         let dpto = document.getElementById("nroDpto").value;
         let areaCelular = document.getElementById("areaCelular").value;
         let nroCelular = document.getElementById("nroCelular").value;
         let email = document.getElementById("email").value;
                  
         if(nombre == ''){alert("El Nombre del Propietario es de ingreso obligatorio."); exit;}
         if(apellido == ''){alert("El Apellido del Propietario es de inghreso obligatorio."); exit;}
         if(cuil_cuit == ''){alert("La CUIL/CUIT del Propietario es de ingreso obligatorio."); exit;}
         if(areaCelular == ''){alert("El Area del Celualr es de ingreso obligatorio."); exit;}
         if(nroCelular == ''){alert("El Nro. del Celular es de ingreso obligatorio."); exit;}
         if(email == ''){alert("El Email es de ingreso obligatorio."); exit;}
        
        //De la forma valor= fecha + "/" + cantidad + "/" + idUnidad + "/" + retiro;
         valor= cuil_cuit + "/" + apellido + "/" + nombre + "/" + figuraPpal + "/" + calle + "/" + nroCalle + "/" +piso+ "/" +dpto+ "/" +areaCelular+ "/" +nroCelular+ "/" +email;
         
         style = "dr";

         if ((idFila%2) != 0){ style = "sr";}
         if(figuraPpal==0){ ppal= "NO";}else{ ppal= "SI";}
         
         let fila = "<td class='" + style + "' width='2'><input type='hidden' name='" + idFila + "' id='" + idFila + "' value='" + valor + "'></td><td class='" + style + "'  width='10'><button type='button' class='btn' onClick='deletePropietario(" + idFila + ")' title='Borrar Propietario'><i class='icon-trash'></i></button></td><td class='" + style + "'  width='50' align='left'>" + apellido + "</td><td class='" + style + "'  width='50' align='left'>" + nombre + "</td><td class='" + style + "'  width='50' align='left'>" + cuil_cuit + "</td><td class='" + style + "'  width='50' align='left'>" + ppal + "</td>" ;
                                                
         let btn = document.createElement("TR");
         btn.id=idFila;
         btn.innerHTML=fila;
         document.getElementById("tablaPropietarios").appendChild(btn);

       //  document.getElementById("contFila").value = `${idFila}`; 
         document.getElementById("idFila").value = `${++idFila}`;       
      }

      function deletePropietario(idFila){
        document.getElementById(idFila).remove();
       // document.getElementById("contFila").value = document.getElementById("contFila").value -1;
      }

      function insertarProfesionales(){
        idFila=document.getElementById("idFilaProf").value;

        //Leo Profesional de la forma idprofesiona*Apellido,nombre/ Matticula
        let profesional = document.getElementById("idProfesional").value;
        //Leo ID
        let pos = profesional.indexOf("*");
        let idProfesional = profesional.substr(0, pos);
        profesional = profesional.substr( pos + 1 );

        let contactoPpal = document.getElementById("contactoPpal").value;
                  
        if(profesional == ''){alert("El Profesional es de ingreso obligatorio."); exit;}
        //De la forma valor= fecha + "/" + cantidad + "/" + idUnidad + "/" + retiro;
         //valor= profesional + "/" + apellido + "/" + nombre + "/" + figuraPpal + "/" + calle + "/" + nroCalle + "/" +piso+ "/" +dpto+ "/" +areaCelular+ "/" +nroCelular+ "/" +email;
        valor= idProfesional + "/" + contactoPpal;
         
        style = "dr";

        if ((idFila%2) != 0){ style = "sr";}
        if(contactoPpal==0){ ppal= "NO";}else{ ppal= "SI";}
        
        let fila = "<td class='" + style + "' width='2'><input type='hidden' name='" + idFila + "' id='" + idFila + "' value='" + valor + "'></td><td class='" + style + "'  width='10'><button type='button' class='btn' onClick='deleteProfesional(" + idFila + ")' title='Borrar Profesional'><i class='icon-trash'></i></button></td><td class='" + style + "'  width='50' align='left'>" + profesional + "</td><td class='" + style + "'  width='50' align='left'>" + ppal + "</td>" ;
                                                
        let btn = document.createElement("TR");
        btn.id=idFila;
        btn.innerHTML=fila;
        document.getElementById("tablaProfesionales").appendChild(btn);

        //document.getElementById("contFila").value = `${idFila}`; 
        document.getElementById("idFilaProf").value = `${++idFila}`;       
      }

      function deleteProfesional(idFila){
        document.getElementById(idFila).remove();
       // document.getElementById("contFila").value = document.getElementById("contFila").value -1;
      }
		
</script>