{% block modal %}
<div class="modal fade" id="delete_Expediente" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Eliminar Expediente</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <input type="hidden" id="IDEXPEDIENTEDelHIDDEN" name="IDEXPEDIENTEDelHIDDEN" />
           
            <div class="modal-body">
                 
              <fieldset class="form-group">
                <h3 class="modal-title2" class="text-center text-muted">¿Estas seguro de eliminar el Expediente?</h3> 
              </fieldset>
            </div>

            <div class="modal-footer">
                <button type="button" class="cancela btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="acepta btn btn-success" id="eliminar_Expediente">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<script>  
document.getElementById("eliminar_Expediente").addEventListener("click", async () => {
    const id = document.getElementById("IDEXPEDIENTEDelHIDDEN").value;

        fetch(`/expediente/${id}`, {
                    method: "DELETE",
        }).then(response => {
        if (response.ok) {
            alert("El Expediente ha sido eliminado exitosamente.");
            location.reload(); // o actualizar la tabla
        } else {
            alert("Error al eliminar");
         }
      });
});
</script>
{% endblock modal %}