{% block modal %}
<div class="modal fade" id="add_Expediente" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Agregar Expediente</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="container contenido">
                <!-- Content Wrapper -->
                <div id="content-wrapper" class="d-flex flex-column">
                    <!-- Main Content -->
                    <div id="content">
                        <form id="formExpediente" action="/agregar_expediente" method="post" > 
        	                <div id="accordion">
<!--Bloque Expediente-->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseOne">
                                            <div class="row" >
                                                <div class="col-md-12 mb-1">
                                                    <h5>Datos Expediente (Clickee aquí para ingresar los datos) </h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
			                        <div class="card-body">
			  	                        <fieldset class="form-group">
                                            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                                <div class="row">
                                                    <div class="form-group col-md-6 mb-1">
                                                        <label for="nombre"><strong>TIPO DE OBRA *</strong> </label>
                                                        <select name="idTipoObra" id="idTipoObra" class="form-control" required>
                                                            <option value="" selected>Seleccione Tipo de Obra</option>
                                                            {% for tipo in tiposObras %}
                                                                <option value="{{ tipo.idTipoObra }}">{{ tipo.nombre }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-6 mb-2">
                                                        <label for="nombre"><strong>PARTIDA *</strong> </label>
                                                        <input type="number" class="form-control" align="left" title="Partida" name="nroPartida" id="nroPartida" placeholder="Partida *"  min="0" step="1" max="9999999" required/>
                                                    </div>
                                                </div>    
                                                <div class="row">
                                                    <div class="form-group col-md-3 mb-2">
                                                        <label for="nombre"><strong>NRO. EXPEDIENTE MESA DE ENTRADA *</strong> </label>
                                                        <input type="text" class="form-control" align="left" title="Nro. Expediente Mesa Entrada" name="nroExpedienteMesaEntrada" id="nroExpedienteMesaEntrada" placeholder="Nro. Expediente Mesa Entrada*" oninput="this.value=this.value.toUpperCase()" maxlength="100" required/>
                                                    </div>
                                                    <div class="form-group col-md-3 mb-1">
                                                        <label for="descripcion"><strong>AÑO INGRESO M.ENTRADA * </strong> </label>
                                                        <input type="number" name="anioMesaEntrada" class="form-control" id="anioMesaEntrada" title="Año Ingreso Mesa de Entrada" placeholder="Ej: 2025" required min="2000" max="2025" size="4"/>
                                                    </div>
                                                    <div class="form-group col-md-3 mb-1">
                                                        <label for="descripcion"><strong>SUCESION * </strong> </label>
                                                        <select name="sucesion" id="sucesion" class="form-control" required>
                                                            <option value="1" >SI</option>
                                                            <option value="0" selected>NO</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <label for="">OBSERVACIONES</label><br>
                                                        <textarea  name="observaciones" cols="100" rows="2" class="form-control" id="observaciones" title="Observaciones generales" maxlength="250" oninput="this.value=this.value.toUpperCase()" placeholder="Observaciones" ></textarea>
                                                    </div>   
                                                </div>
                                            </div>                
           		                    </fieldset>
			                    </div>
                                </div>                           
<!--Bloque Propietarios-->			                
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <a class="card-link" data-toggle="collapse" href="#collapseTwo">
                                            <div class="row" >
                                                <div class="col-md-12 mb-1">
                                                    <h5>Propietarios (Clickee aquí para ingresar los datos) </h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    
                                    <div class="card-body">
                                        <fieldset class="form-group">
                                            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                                <div class="row">
                                                    <div class="form-group col-md-6 mb-1">
                                                        <label for="nombre"><strong>NOMBRE *</strong> </label>
                                                        <input type="text" class="form-control" align="left" title="Nombre" name="nombre" id="nombre" placeholder="Nombre*" oninput="this.value=this.value.toUpperCase()" maxlength="100" />
                                                    </div>
                                                    <div class="form-group col-md-6 mb-3">
                                                        <label for="descripcion"><strong>APELLIDO * </strong> </label>
                                                        <input type="text"  name="apellido"  class="form-control" id="apellido" title="Apellido" maxlength="150" oninput="this.value=this.value.toUpperCase()" placeholder="Apellido" />
                                                    </div>
                                                </div>
                                                        
                                                <div class="row">
                                                    <div class="form-group col-md-3 mb-1">
                                                        <label ><strong>CUIT/CUIL * </strong></label>
                                                        <input name="cuil_cuit" type="text" class="form-control" id="cuil_cuit" title="Cuit o Cuil, con el formato xx-xxxxxxxx-x"  maxlength="13" pattern=".{13,}" onKeyPress="handleMask(event, &#39;99-99999999-9&#39;)" placeholder="__-________-_ CUIT/CUIL*"  style="width:250px" />
                                                    </div>
                                                    <div class="form-group col-md-3 mb-1">
                                                        <label ><strong></strong></label>
                                                        <label ><a href="https://www.anses.gob.ar/consultas/constancia-de-cuil" target="_blank" style="color:#fa51b9"><h6><strong>Consulta CUIT/CUIL ANSES <img src="/static/imagenes/anses.png" width="30" height="30" /></strong></h6></a></label>
                                                    </div>
                                                    <div class="form-group col-md-2 mb-1">
                                                        <label for="descripcion"><strong>FIGURA COMO PPAL? * </strong> </label>
                                                        <select name="figuraPpal" id="figuraPpal" class="form-control" >
                                                            <option value="1" >SI</option>
                                                            <option value="0" selected>NO</option>
                                                        </select>
                                                    </div>
                                                </div> 
                                                    
                                                <div class="row">    
                                                    <div class="form-group col-md-6">
                                                        <label for="nombre"><strong>DOMICILIO</strong> </label>
                                                        <input name="calle" type="text" class="form-control" id="calle" title="Domicilio" maxlength="50" placeholder="Domicilio"  oninput="this.value=this.value.toUpperCase()"  />
                                                    </div>
                                                    <div class="col-md-1 mb-1">
                                                        <label><strong>Nro. </strong></label>
                                                        <input name="nroCalle" type="number" class="form-control" id="nroCalle" title="Nro. Calle"  min="0" max="9999" size="4"  style="width:80px" oninput = "if (!isNumber(this.value){this.value=''}" onChange="this.value = this.value.substring(0,4)" placeholder="Nro. Calle*"  />
                                                    </div>
                                                    <div class="col-md-1 mb-1">
                                                        <label><strong>PISO </strong></label>
                                                        <input name="piso" type="text" class="form-control" id="piso" title="Piso" maxlength="50" min="1" max="9" size="4"  style="width:75px"  oninput = "if (!isNumber(this.value){this.value=''}" onChange="this.value = this.value.substring(0,4)" placeholder="Piso" />
                                                    </div>
                                                        <div class="col-md-1 mb-1">
                                                            <label><strong>DPTO. </strong></label>
                                                            <input name="nroDpto"  class="form-control" id="nroDpto" title="Dpto." maxlength="2"  size="2"  style="width:75px" type="text" placeholder="Dpto."  oninput="this.value=this.value.toUpperCase()"/>
                                                        </div>
                                                    </div>
                                            
                                                    <div class="row">
                                                        <div class="form-group col-md-6 mb-1">
                                                            <label ><strong>TEL&Eacute;FONO CONTACTO (CELULAR) - SIN 0 Y SIN 15. Debe ingresar al menos uno</strong></label>
                                                        </div>
                                                        <div class="form-group col-md-6 mb-1">
                                                            <label><strong>E-MAIL </strong></label>
                                                        </div>
                                                        <div class="form-group col-md-1 mb-1">
                                                            <input type="number" class="form-control" title="C&oacute;digo de &aacute;rea Tel. celular" name="areaCelular" id="areaCelular"  placeholder="&Aacute;rea" min="1" max"9999" size="4"  style="width:80px" oninput="" onChange="this.value = this.value.substring(0,4)"  />
                                                        </div>
                                                        <div class="form-group col-md-5 mb-1">
                                                            <input type="number" class="form-control" title="N&uacute;mero tel&eacute;fono celular" name="nroCelular" id="nroCelular"  placeholder="Nro. sin 15"  min="1" max"99999999" size="8"  style="width:120px" oninput="" onChange="this.value = this.value.substring(0,8)"   />
                                                        </div>
                                                        <div class="form-group col-md-6 mb-3">
                                                            <input type="email" class="form-control" title="E-MAIL, el que usaremos para contactarlo" name="email" id="email" placeholder="E-mail, el que usaremos para contactarlo. Preferentemente de Gmail" oninput="this.value=this.value.toLowerCase()"  />
                                                        </div>
                                                    </div>

                                                <!--Carga dinámica de la tabla por javaScript-->
                                                    <input type="hidden" id="idFila" name="idFila" value="1" />
                                                    <input type="hidden" name="propietarios" id="propietarios" value="[]">
                                                    <div class="row"  align="center">
                                                        <div class="form-group col-md-12"  >
                                                            <button type="button" class="boton_1" onclick="insertarPropietario()" title="Agregar Propietario"  ><i class='glyphicon glyphicon-plus'></i> Agregar Propietario</button>
                                                        </div>
                                                    </div>   
                                                    <div class="col-md-12">
                                                        <table id="tablaPropietarios" class="tbl" border="0" cellspacing="1" cellpadding="4" width="100%" >   
                                                            <tr id='0' name= '0'>          
                                                                <td class="hr" width="10" align="left"></td>
                                                                <td class="hr" width="10" align="left"></td>
                                                                <td class="hr" width="50" align="left"><strong>CUIL/CUIT</strong></td>
                                                                <td class="hr" width="50" align="left"><strong>APELLIDO</strong></td>
                                                                <td class="hr" width="50" align="left"><strong>NOMBRE</strong></td>
                                                                <td class="hr" width="50" align="left"><strong>PPAL.</strong></td>
                                                            </tr>
                                                        </table> 
                                                    </div>
                                                </div>
                                            <!--Fin Carga dinámica por javaScript-->
                                            </div>   
                                        </fieldset>    
                                    </div>
                            </div>    
                            
<!--Bloque Profesional-->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <a class="card-link" data-toggle="collapse" href="#collapseThree">
                                        <div class="row" >
                                            <div class="col-md-12 mb-1">
                                                <h5><strong></strong>Profesional (Clickee aquí para ingresar los datos)</strong></h5>
                                                <h6>Si el profesional no figura. Salga de esta opción y agreguelo por la opción Tablas/Profesionales </h6>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                 
                               <div class="card-body">
                                    <fieldset class="form-group">
                                        <div id="collapseThree" class="collapse" data-parent="#accordion">
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label ><strong>PROFESIONAL *</strong></label>
                                                                        
                                                    <select name="idProfesional" id="idProfesional" class="form-control" required>
                                                        <option value="" selected>Seleccione Profesional</option>
                                                        {% for profesional in profesionales %}
                                                            <option value="{{ profesional.idProfesional ~ '*'  ~profesional.apellido ~ ', ' ~ profesional.nombre ~ ' /Mat. ' ~ profesional.matricula }}">{{ profesional.apellido ~ ', ' ~ profesional.nombre ~ ' /Mat. ' ~ profesional.matricula}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label ><strong>CONTACTO PPAL.</strong></label>
                                                    <select name="contactoPpal" id="contactoPpal" class="form-control" required>
                                                        <option value="1" >SI</option>
                                                        <option value="0" selected>NO</option>
                                                    </select>
                                                </div>
                                                <!--Carga dinámica por fechas alternadas por javaScript-->
                                                    <input type="hidden" id="idFilaProf" name="idFilaProf" value="1" />
                                                    <div class="row col-md-12" align="center">
                                                        <div class="form-group col-md-12"  >
                                                            <button type="button" class="boton_1" onclick="insertarProfesionales()" title="Agregar Profesional"  ><i class='glyphicon glyphicon-plus'></i> Agregar Profesional</button>
                                                        </div>
                                                    </div>   
                                                    <div class="col-md-12">
                                                        <table id="tablaProfesionales" class="tbl" border="0" cellspacing="1" cellpadding="4" width="100%" >   
                                                            <tr id='0' name= '0'>          
                                                                <td class="hr" width="10" align="left"></td>
                                                                <td class="hr" width="10" align="left"></td>
                                                                <td class="hr" width="50" align="left"><strong>PROFESIONAL</strong></td>
                                                                <td class="hr" width="50" align="left"><strong>PPAL.</strong></td>
                                                            </tr>
                                                        </table> 
                                                    </div>
                                                <!--Fin Carga dinámica por javaScript-->
                                            </div>
                                        </div> 
                                    </fieldset>    
                                </div>
                            </div>    
                        </div>
                            <div class="modal-footer">
                                <button type="button" class="cancela btn btn-default" data-dismiss="modal">Cerrar</button>
                                <button type="submit" class="acepta btn btn-success">Agregar</button>
                            </div>
                        </div>
                        </form>
                    <!-- /.container-fluid -->
                    </div>
                <!-- End of Main Content -->	
                </div>
            <!-- End of Page Wrapper -->
            </div>
        <!-- end of body block -->
        </div>
    </div>
</div>
{% endblock modal %}

<script>

    // Establecer el año actual como valor por defecto y límite máximo
    const inputAnio = document.getElementById("anioMesaEntrada");
    const anioActual = new Date().getFullYear();
    inputAnio.max = anioActual;
    inputAnio.value = anioActual;
    
    document.getElementById("anioMesaEntrada").value = anioActual;

    document.getElementById("nroPartida").addEventListener("keydown", function (e) {
       validarCaracterEnNro(e);
    });

    document.getElementById("nroPartida").addEventListener("input", function (e) {
       validarLongitudNro(e, 7)
    });

    function insertarPropietario(){
         idFila=document.getElementById("idFila").value;

         //Leo Datos Personales
         let nombre = document.getElementById("nombre").value;
         let apellido = document.getElementById("apellido").value;
         let cuil_cuit = document.getElementById("cuil_cuit").value;
         let figuraPpal = document.getElementById("figuraPpal").value;
         
         //Leo datos Contacto
         let calle = document.getElementById("calle").value;
         let nroCalle = document.getElementById("nroCalle").value;
         let piso = document.getElementById("piso").value;
         let dpto = document.getElementById("nroDpto").value;
         let areaCelular = document.getElementById("areaCelular").value;
         let nroCelular = document.getElementById("nroCelular").value;
         let email = document.getElementById("email").value;
                  
         if(nombre == ''){alert("El Nombre del Propietario es de ingreso obligatorio."); exit;}
         if(apellido == ''){alert("El Apellido del Propietario es de inghreso obligatorio."); exit;}
         if(cuil_cuit == ''){alert("La CUIL/CUIT del Propietario es de ingreso obligatorio."); exit;}
         if(areaCelular == ''){alert("El Area del Celular es de ingreso obligatorio."); exit;}
         if(nroCelular == ''){alert("El Nro. del Celular es de ingreso obligatorio."); exit;}
         if(email == ''){alert("El Email es de ingreso obligatorio."); exit;}
        
        //De la forma valor= cuil + "/" + apellido + "/" + nombre + "/" + figuraPPal ......;
         valor= cuil_cuit + "/" + apellido + "/" + nombre + "/" + figuraPpal + "/" + calle + "/" + nroCalle + "/" +piso+ "/" +dpto+ "/" +areaCelular+ "/" +nroCelular+ "/" +email;
         
         style = "dr";

         if ((idFila%2) != 0){ style = "sr";}
         if(figuraPpal==0){ ppal= "NO";}else{ ppal= "SI";}
         
         let fila = "<td class='" + style + "' width='2'><input type='hidden' name='prop" + idFila + "' id='prop" + idFila + "' value='" + valor + "'></td><td class='" + style + "'  width='10'><button type='button' class='btn' onClick='deletePropietario(" + idFila + ")' title='Borrar Propietario'><i class='icon-trash'></i></button></td><td class='" + style + "'  width='50' align='left'>" + apellido + "</td><td class='" + style + "'  width='50' align='left'>" + nombre + "</td><td class='" + style + "'  width='50' align='left'>" + cuil_cuit + "</td><td class='" + style + "'  width='50' align='left'>" + ppal + "</td>" ;
                                                
         let btn = document.createElement("TR");
         btn.id=idFila;
         btn.innerHTML=fila;
         document.getElementById("tablaPropietarios").appendChild(btn);

       //  document.getElementById("contFila").value = `${idFila}`; 
         document.getElementById("idFila").value = `${++idFila}`;       
    }

    function deletePropietario(idFila){
        document.getElementById(idFila).remove();
       // document.getElementById("contFila").value = document.getElementById("contFila").value -1;
    }

    function insertarProfesionales(){
        idFila=document.getElementById("idFilaProf").value;

        //Leo Profesional de la forma idprofesiona*Apellido,nombre/ Matticula
        let profesional = document.getElementById("idProfesional").value;
        //Leo ID
        let pos = profesional.indexOf("*");
        let idProfesional = profesional.substr(0, pos);
        profesional = profesional.substr( pos + 1 );

        let contactoPpal = document.getElementById("contactoPpal").value;
                  
        if(profesional == ''){alert("El Profesional es de ingreso obligatorio."); exit;}

        valor= idProfesional + "/" + contactoPpal;
         
        style = "dr";

        if ((idFila%2) != 0){ style = "sr";}
        if(contactoPpal==0){ ppal= "NO";}else{ ppal= "SI";}
        
        let fila = "<td class='" + style + "' width='2'><input type='hidden' name='prof" + idFila + "' id='prof" + idFila + "' value='" + valor + "'></td><td class='" + style + "'  width='10'><button type='button' class='btn' onClick='deleteProfesional(" + idFila + ")' title='Borrar Profesional'><i class='icon-trash'></i></button></td><td class='" + style + "'  width='50' align='left'>" + profesional + "</td><td class='" + style + "'  width='50' align='left'>" + ppal + "</td>" ;
                                                
        let btn = document.createElement("TR");
        btn.id=idFila;
        btn.innerHTML=fila;
        document.getElementById("tablaProfesionales").appendChild(btn);

        //document.getElementById("contFila").value = `${idFila}`; 
        document.getElementById("idFilaProf").value = `${++idFila}`;       
    }

    function deleteProfesional(idFila){
        document.getElementById(idFila).remove();
      // document.getElementById("contFila").value = document.getElementById("contFila").value -1;
    }

    document.getElementById('formExpediente').addEventListener('submit', async function(e) {
        e.preventDefault(); // Evita que el formulario haga un POST tradicional

        const form = e.target;
        const formData = new FormData(form);

        try {
            const response = await fetch("/agregar_expediente", {
                method: "POST",
                body: formData
            });       
            
            if (response.ok) {
                $('#add_Expediente').modal('hide');
                location.reload(); // recarga tabla con datos actualizados
            } else {
                const error = await response.json();
                alert('Error al agregar el Expediente: ' + (error.error || 'Error desconocido'));
            }
        } catch (err) {
            alert('Error de red o del servidor: ' + err.message);
        }
    });
		
</script>